.contact {
    margin: 78px 0 50px;
    padding-bottom: 17px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    @include border(40,16);
    overflow: hidden;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.b-bot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cont-bl1 {
    //display: flex;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 0;
    box-shadow: 0px 10.1364px 81.0916px rgba(0, 0, 0, 0.12);
    margin-bottom: 47px;
    max-height: 377px;
    li {
        margin-bottom: 12px;
        color: rgba(0, 0, 0, 0.5);
    }
    .ico-add-x {
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        padding-left: 35px;
        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            left: 0;
        }
    }

    .pos-b {
        margin-top: 50px;
    }
    .ico-pos-eml::before {
        background: url(../img/ico/email5.svg) no-repeat;
        top: 7px;
    }
    .ico-pos-tel::before {
        background: url(../img/ico/tel5.svg) no-repeat;
        top: 7px;
    }
    .ico-pos-tel,
    .ico-pos-eml {
        &:hover {
            opacity: 0.6;
        }
    }
    .ico-pos-adr::before {
        background: url(../img/ico/tm5.svg) no-repeat;
        top: 4px;
    }
}

.bl1-left {
    padding: 3px 0px 42px 92px;
    background: linear-gradient(69.09deg, #9ad3c7 -0.74%, rgba(117, 172, 44, 0) 70.98%);
    box-shadow: 0px 10.1364px 81.0916px rgb(0 0 0 / 12%);
    width: 600px;
    h2 {
        margin-bottom: 32px;
    }
}
.mm80 {
    padding: 0px 80px;
    font-size: 18px;
}

.mb50 {
}

.bl1-right {
    width: 100%;
    height: 100%;
}
.cont-bl2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9%;
    padding-bottom: 38px;
    margin: 30px 80px 0;
    ul {
        display: flex;
        flex-direction: column;
        max-width: 207px;
        height: 100%;
        li {
            font-weight: 500;
            font-size: 13px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 4px;
        }
    }

    .fio-item {
        flex: 1;

        &__unit {
            //  min-height: 39px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 17px;
        }

        &__fio {
            color: var(--color-font);
            font-size: 18px;
            // min-height: 84px;
            flex: 1;
            line-height: 120%;
        }

        &__email {
            color: #62ab08;
            font-size: 13px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}
.t-15 {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
}
.t-13 {
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
}
.t-green {
    color: #62ab08;
}
.block-adr {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;

    background: linear-gradient(273.72deg, #9ad3c7 -14.86%, rgba(117, 172, 44, 0) 43.77%), #fff;

    box-shadow: 0 0 2px #ccc;
    filter: drop-shadow(0px 10.1364px 81.0916px rgba(0, 0, 0, 0.12));
    @include border(40,16);
    overflow: hidden;
    margin-bottom: 30px;
    padding: 35px 55px;

    .h4 {
        margin-bottom: 20px;
    }
    .fio-item__unit {
        margin-bottom: 17px;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
.adres {
    align-self: center;
}
.adres_adr {
    max-width: 380px;
}

/**************************************/ 

@media (max-width: 1200px) {
    .bl1-left,
    .mm80 {
        padding: 25px;
    }
    .cont-bl2 {
        margin: 25px;
    }
    .block-adr {
        padding: 25px;
    }
}
@media (max-width: 992px) {
    .cont-bl1 {
        grid-template-columns: 50% 1fr;
    }
    .cont-bl2 {
        gap: 15px;
    }
    .bl1-left {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cont-bl1{
        margin-bottom: 20px;
        display: block;
        max-height: initial;
    }
    .cont-bl1 .pos-b{
        margin-top: 20px;
    }
    .bl1-left, .mm80 {
        padding: 25px 25px 15px;
    }
    .bl1-right{
        height: 270px;
    }

    .cont-bl2 {
        gap: 50px 15px;
        grid-template-columns: repeat(2, 1fr);
    }
    .block-adr {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .fio-item__unit {
            max-width: 75%;
        }
        .adres {
            flex: 0 100%;
        }
        .fio-item__il {
            flex: 1;
        }
    }
}

@media (max-width: 576px) {
    .cont-bl2 {
        gap: 50px 15px;
        grid-template-columns: 1fr;
    }
    .block-adr {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .fio-item__unit {
            max-width: 100%;
        }
        .fio-item__il {
            flex: 0 100%;
        }
    }
}

@media (max-width: 383px) {
    .bl1-left,
    .mm80 {
        padding: 15px;
    }
    .cont-bl2 {
        margin: 15px;
    }
    .block-adr {
        padding: 15px;
    }
    .cont-bl1 .ico-add-x {
        padding-left: 25px;
    }

}
