.teni{
    display: none;
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    &.active{
        display: block;
    }
}
.bkg-heder-sl{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height:896px;
    //overflow: hidden;
    border-bottom-right-radius:40px;
    border-bottom-left-radius:40px;
    z-index: -1;
    img{
      position: absolute;  width: 100%;height: 100%; object-fit: cover;
    }
    &__el {float:left; position:absolute; list-style: none;}
    &__el.show {z-index:500;}
    
}
header {
    position: relative;
    margin-top: 40px;
    margin-bottom: 47px;
}

.header-top {
    display: flex;
    align-items: baseline;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.soc-h {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    left: 72px;
    .soc_a {
        margin-bottom: 5px;
    }
}
.right-container {
    position: absolute;
    right: 70px;
    top: 25px;

    a {
        display: inline-block;
        color: #fff;
        transform: rotate(-180deg);
        letter-spacing: 0.215em;
        font-size: 12px;
        position: absolute;
        height: 135px;
        right: 78px;
        top: -10px;
        right: 0;
        writing-mode:tb-rl;
    }
}
.top-down {
    position: fixed;
    left: 72px;
    bottom:114px;
    z-index: 100;
    .v2{display: none;}
    &.fix{
        bottom: 39px;
        .v2{display: block;}
        .v1{display: none;}
    }
}
.eml-text {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.215em;
    transform: rotate(-180deg);
    padding-left: 21px;
    position: fixed;
    right: 58px;
    writing-mode:tb-rl;
   bottom: 185px;
    z-index: 100;
    height: 135px;
    color:#fff;
    &::before{
        content: "";
        position: absolute;
        background: url(../img/ico/smal/email.svg) no-repeat;
        width: 30px;height: 30px;
        top:-54px;
        left: 12px;
        transform: rotate(-180deg);
    }
    &.fix{
        color: var(--color-font);
        bottom: 90px;
        &::before{
            background: url(../img/ico/smal/email-blek.svg) no-repeat;
        }
    }
    img {
        position: absolute;
        left: -8px;
        top: -4px;
        display: none;
    }
}

.nav-container {
    width: 100%;
    max-width: 1448px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-right: 53px;
}
nav {
    flex: 1;
    .menu {
        display: flex;
        gap: 11px;
        margin-right: 70px;
        flex: 1;
        justify-content: space-between;
        //li{flex: 1;}
        li{position: relative;}
        & > li > a{white-space:nowrap; }
    }
    .sbm {
        position: relative;
        padding-right: 20px;
        &::after {
            content: "";
            position: absolute;
            background: url(../img/down.svg) no-repeat;
            width: 16px;
            height: 16px;
            right: 0px;
            top: 10px;
        }
    }

    ul {
        margin: 0 30px 0 0;
        padding: 0;
        list-style: none;
    }
}

.submenu {
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    filter: drop-shadow(0px 10.1364px 81.0916px rgba(0, 0, 0, 0.12));
    position: absolute;
    top: 50px;
    max-width: max-content;
    min-width: 360px;
    left: 0;
    z-index: 10;
    &::before{
        content: '';
        background: #fff;
        width: 35px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .col-title {
        letter-spacing: 0.215em;
        margin:30px  0 10px;
        font-weight: 600;
    }
    a {
        font-size: 15px;
        padding: 5px 0;
        color: var(--color-font);
        transition: 0.3s all;
        line-height: 1.2;
        padding: 10px 0;
        &:hover{
            color:var(--color-a);
            /*text-shadow: 0 0 1px var(--color-a);*/
        }
    }
}
.col-sbm{
    flex:1;
    min-width: 280px;
    padding:0 0 0 30px ;
    border-left: 1px solid #ccc;
    &:first-child{
        border:none;
    }
}
.sbm.active + .submenu {
    display: block;
    padding: 30px;
    height: initial;
    width:calc(100vw - 250px) ;
    display: flex;
    flex-wrap: wrap;
}
.r-line{
    border-bottom: 1px solid #ccc;
    font-size: 0;
    margin: 7px 0;
}

.search {
    position: relative;
    padding: 1% 1% 1% 1%;
    background: rgba(54, 54, 54, 0.6);
    border-radius: 40px;
    max-height: 48px;
    display: inherit;
    margin-right: 24px;
    flex: 1;
    max-width: 243px;
    min-width: 50px;
    height: 48px;


    input {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        width: 100%;

        background: transparent;
        border: none;
        color: #fff;
    }
    a {
        margin-right: 10px; 
        display: flex;
        align-items: center;
    }
}
.h-dop {
    display: flex;
    gap: 24px;

    .circl {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border: 3px solid #29bae2;
        box-sizing: border-box;
        border: 3px solid #29bae2;
        box-sizing: border-box;
        color: #fff;
        border-radius: 50%;
        overflow: hidden;
        font-size: 14px;
        &:hover{
            opacity: 0.6;
        }
    }
    .lk {
        background: #29bae2;
    }
    .cart {
        border-color: transparent;
        background: linear-gradient(180deg, #5dc5ec -0.03%, #75ac2c 98.74%);
        background-size: cover;
        border: none;
        // background:red;
    }
}

.main-str {
    display: none;
    margin-bottom: 6rem;
    &.show{
        display: block;
    }
    &__h1 {
        font-weight: 700;
        font-size: 104.837px;
        line-height: 126px;
        color: #FFFFFF;
        margin-bottom: 2rem;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
        max-width: 480px;
        margin-bottom: 2rem;
    }
}
.h-dop .search-kn{display: none;}


@media (max-width: 1700px) {
    .soc-h{left:15px;}
    .top-down{left:15px;}
    .right-container{right: 15px;}
    .eml-text{right: 0px;}
}
@media (max-width: 1564px) {
    .logo {
        margin-right: 20px;
    }
    nav .menu {
        margin-right: 20px;
    }
    .soc-h,
    .right-container,
    .eml-text{display: none;}
}


@media (max-width: 1200px) {
    .top-down{
        .v1{display: none;}
        .v2{display: block;}
        bottom: 39px;
    }
}

@media (max-width: 1120px) {
     
     .logo img{height: 48px;} 
     .h-dop .search-kn{
         display: flex;
         background: #000;
         border-color: #000;
         &:hover{
             opacity: 0.6;
         }
     }
     .nav-container{
         position: relative;
     }
     .search{max-width: 0;display: none;transition: 0.3s all;}
     .search.active{
        display: flex;
        position: absolute;
        top: 3px;
        right: 44px;
        z-index: 100;
        background: #111;
        max-width: 100%;
        margin: 0;
        box-shadow: 0 0 21px #ccc;
        padding: 10px;
        }
     
}

.burger{display: none;}
@media (max-width: 991px) {
    //.h-dop .logo{margin: 0; }
    .logo{flex:1;    position: relative;top: 3px;}
    .burger{
        display: block;
        position: relative;
        width: 24px;
        height: 20px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-left: none;
        border-right:none;
        background: transparent;
        outline:none;
        margin-right: 1rem;
        &::before{
            content: "";
            background: #fff;
            position: absolute;
            width: 23px;
            height: 2px;
            left: 0;
            top: 7px;
        }
    }
    body header {margin: 24px 0 10px;}
    .nav-container{margin-bottom: 10px;}
    nav{
        display: none;

    }
    .mobi-menu{

      nav{
          display: flex;
          padding: 0 15px ;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s linear;
          background: #777;
        &.active{
            max-height: 93vh;
            height: initial; //100vh
            overflow-y: auto;
        }
      }
      .col-sbm{
          border: none;
      }
      .menu{
         flex-direction: column; 
         justify-content: flex-start;
         padding-top: 30px;
         &>li:last-child{
            padding: 0 0 30px 0;  
         }
         .sbm.vi{
             color:var(--color-a);
         }
         &>li>a{
             margin: 10px 0;
             color:#fff;
             font-size: 1.2rem;
         }
      }

      .submenu{
          position: relative;
          top:0;
          max-height:0;
          border-radius: 0;
          width: 100%;
          max-width: 100%;
          min-width: inherit;
          background: transparent;
          transition: max-height 0.3s linear;
             &.active{
                max-height:329px;
                height: initial;
                overflow-y: auto;
            }
            a{
                color:#fff;
                text-shadow: 0px 1px 1px #000;

            }
            .col-title{color:rgba(95, 182, 179, 1)}
            &::before{
                background: none;  
                content: none;
            }
      }

    }

}


@media (max-width: 460px) {
    .h-dop{gap:6px;}
    .logo img{height: 36px;}
    .h-dop .circl{width: 36px;height: 36px;}
}
