.for-news {
    width: 100%;
    height: 0px;
}
.news-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 78px;
    margin: 50px 0 98px 0;
}
.news-itemblock {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;
}
.news-item {
    background: #fff;
    box-shadow: 0px 10.1364px 81.0916px rgb(0 0 0 / 12%);
    border-radius: 36.8598px;
    height: 567px;
    max-width: 420px;
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    &__img {
        height: 250px;
        border-radius: 30px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &:hover img {
        transform: scale(1.05);
        transition: 0.3s all;
    }

    &__data {
        padding: 6px 7px;
        background: var(--color-font);
        border-radius: 7.37196px;
        font-size: 12px;
        line-height: 150%;
        color: #ffffff;
        margin-bottom: 16px;
        display: inline-block;
    }

    &__text {
        flex: 1;
        color: var(--color-font);
        @include font(18,16);
        &:hover {
            color: var(--color-a);
        }
    }

    &__dalee {
        font-weight: 700;
        font-size: 12px;
        color: var(--color-a);
        &:hover {
            color: var(--color-ah);
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:12px;
    padding: 0;
    margin-bottom: 100px;
    li {
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 3px solid rgba(0, 0, 0, 0.00);
            background-color: #fff;
            color:var(--color-font);
            transition: 0.3s all;
            &:hover{
                color:var(--color-ah);
            }
            &.active::before,
            &:hover::before{
                content: "";
                background: linear-gradient(180deg, #75ac2c -0.03%, #5dc5ec 98.74%);
                width: 54px;
                height: 54px;
                position: absolute;
                left: -6px;
                top: -6px;
                border-radius: 50%;
                z-index: -1;
                transition: 0.3s all;
            }
        }
    }

    &__cirk {
        background: linear-gradient(180deg, #5dc5ec -0.03%, #75ac2c 98.74%);
        
        &:hover{
            background: linear-gradient(180deg, #75ac2c  -0.03%,  #5dc5ec 98.74%);
        }
    }
    li:last-child{
        a{border: 1px solid transparent;}
        img{
           margin: 0 0 0 4px;  
        }
    }
    li:first-child{
        a{border: 1px solid transparent;}
        img{
           margin: 0 3px 0 0px;  
        }
    }
}

@media(max-width:1340px){
    .news-all{gap:28px;}
}

@media(max-width:991px){
    .news-all{
        gap: 50px 117px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:767px){
    .news-all{ gap: 28px;}
}

@media(max-width:576px){
    .news-all{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pagination{gap:6px;}
    .pagination li a{
        width: 30px;height: 30px;
        &:hover::before,
        &.active::before
        {
            content:"";
            width:36px;height: 36px;
        }
    }
   .pagination li:last-child img {height: 12px;}
   .pagination li:first-child img {height: 12px;}
 

}
.pagination li:last-child a::before  {background:none ;}
.pagination li:first-child a::before  {background: none;}
