.h4m0 {
    h1 {
        margin: 0;
    }
    p {
        padding-bottom: 35px;
        padding-top: 14px;
    }
}
.srv1 {
    padding: 17px 0 0;
    h3 {
        margin-bottom: 23px;
    }
    margin-bottom: 68px;
}
.inst-equ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
    @include border(35, 16);
    overflow: hidden;
    margin-bottom: 35px;
    &__img {
        @include border(40, 16);
        overflow: hidden;
        max-width: 707px;
        width: 100%;
        height: 394px;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__block {
        position: relative;
        margin-left:52px;
    }
}

.ine-el {
    position: relative;
    height: 57px;
    display: flex;
    align-items: center;
    margin-bottom: 51px;

    &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 24px;
        border: 1px solid #5dc5ec;
        border-radius: 50%;
        background: #fff;
        z-index: 5;
    }

    &__text {
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.5);
        max-width: 426px;
        padding: 0 0 0 70px;
    }
}
.left-sdv {
    left: 123px;
}
.ll1 {
    position: absolute;
    top: 55px;
    left: 34px;
}
.ll2 {
    position: absolute;
    top: 154px;
    left: 30px;
}
.lr {
    position: absolute;
    top: 269px;
    left: 27px;
}
/***********************/
.to {
    margin-bottom: 88px;
}
.to-wrap {
    background: url(../img/ico/bkg-7.jpg) center no-repeat;
    width: 100%;
    height: 808px;
    padding: 79px 122px;
    @include border(40, 16);
    h3 {
        color: #fff;
        margin-bottom: 68px;
    }
}
.to-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px 27px;
}
.tb-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/ico/galka-bkg.png) center no-repeat;
    min-height: 200px;
    &__img {
        display: none;
    }

    &__text {
        font-weight: 400;
        @include font(18, 14);
        line-height: 160%;
        color: #fff;
        max-width: 381px;
    }
}
/***************/
.laboratory {
    margin-bottom: 100px;
    .h4 {
        margin-bottom: 55px;
    }
}

.lab-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}
.lab-item {
    padding: 30px 30px 19px;
    background: #fff;
    box-shadow: 0px 10.1364px 81.0916px rgba(0, 0, 0, 0.12);
    @include border(40, 16);
}

.green {
    color: #75ac2c;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    margin: 17px 0px;
    padding: 0 0px 0 21px;
    li {
        margin-bottom: 15px;
    }
    span {
        color: rgba(0, 0, 0, 0.5);
    }
}
/***************/
.qcontrol {
    margin-bottom: 135px;
    h3 {
        margin-bottom: 29px;
    }
}
.qcontrol-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}
.qc-item {
    &__img {
        margin-bottom: 21px;
    }

    &__text {
        font-weight: 500;
        @include font(15, 13);
        line-height: 150%;
        color: rgba(0, 0, 0, 0.5);
        max-width: 270px;
    }
}
/****************/
.repair {
    position: relative;
    overflow: hidden;
    @include border(40, 16);
    width: 100%;
    height: 573px;
    padding: 70px 121px;
    color: #fff;
    margin-bottom: 77px;
    h3 {
        color: #fff;
        margin-bottom: 85px;
    }
}
.bkg-8 {
    background: url(../img/ico/bkg-8.jpg) center no-repeat;
}
.repair-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7%;
}
.repair-item {
    &__img {
        margin-bottom: 18px;
    }

    &__text {
        font-weight: 400;
        @include font(18, 15);
        line-height: 160%;
        max-width: 278px;
    }
}
.dop-4 {
    padding: 0 0 70px 0;
    max-width: 1016px;
    h3 {
        margin-bottom: 27px;
    }
}

.bkg-grad {
    background: radial-gradient(32.37% 135.28% at 82.37% 90.61%, rgba(95, 182, 179, 0.7) 0%, rgba(115, 177, 82, 0) 100%),
        rgba(236, 236, 236, 0.5);
    @include border(40, 16);
}
.slide-news.bkg-grad {
    padding: 87px 0 60px;
    margin-bottom: 96px;
}

.doc-u {
    margin-bottom: 110px;
    h3 {
        margin-bottom: 27px;
    }
    p {
        margin-bottom: 70px;
        max-width: 1016px;
        line-height: 160%;
    }
}

.orsv {
    padding: 62px 120px;

    p {
        color: rgba(0, 0, 0, 0.5);
        max-width: 800px;
        line-height: 160%;
    }
    margin-bottom: 129px;
}

.orsv-block {
    gap: 20px;
    font-weight: 400;
    @include font(32, 18);
    line-height: 120%;
    padding: 39px 0 18px;
    &__eml {
        position: relative;
        padding: 0 90px 0 50px;

        &::before {
            content: "";
            position: absolute;
            background: url(../img/ico/email2.svg) no-repeat;
            background-size: cover;
            top: 50%;
            transform: translateY(-43%);
            left: 0;
            width: 24px;
            height: 24px;
        }
    }

    &__tel {
        position: relative;
        padding-left: 45px;
        color: #363636;
        &::before {
            content: "";
            position: absolute;
            background: url(../img/ico/phone.svg) no-repeat;
            background-size: cover;
            top: 50%;
            transform: translateY(-40%);
            left: 0;
            width: 24px;
            height: 24px;
        }
    }
}


@media (max-width: 1460px) {
    .to-wrap{
        padding: 79px 1%;
        h3{
            margin-left: 45px;
        }
    }
    .to-block{
        gap: 55px 10px;
    }
}

@media (max-width: 1200px) {
    .ine-el__text {
        max-width: 330px;
    }
    .to-block {
        gap: 10px 10px;
    }
    .to-wrap {
        padding: 10px 0;
        h3{margin-bottom: 30px;margin-left: 0;}
    }
    .to-wrap{
        color:#363636;
        background: none;
        height: auto;
        h3{ color:#363636;}  
        .tb-item__text{ color:#363636;}
        .tb-item{background: none;}
        .tb-item__img{
            display: block;
            margin-right: 20px;
        }
    }
    .tb-item{
        min-height: auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 992px) {
    .inst-equ {
        display: block;
    }
    .inst-equ__img {
        margin-bottom: 30px;
    }
    .ine-el__text {
        width: calc(100% - 120px);
        max-width: 530px;
    }
    .lab-block{
        grid-template-columns: repeat(2,1fr);
    }
    .repair{
        padding: 40px;
    }
    .orsv{
        padding: 30px 30px 0;
        margin-bottom: 50px;
        a{margin-bottom: 30px;}
    }
}
@media (max-width: 768px) {
    .to-block {
display: block;
    }
    .tb-item{
        justify-content: flex-start;
        &__text{line-height: 140%;}
    }
    .qcontrol{
        margin-bottom: 50px;
    }
    .qcontrol-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .bkg-8{
        background: none;
        padding: 0;
        height: auto;
    }
    .repair h3{
        color: #363636;
        margin-bottom: 35px;
    }
    .repair-item__text{
        color: rgba(0, 0, 0, 0.5);
    }
    .doc-u{margin-bottom: 30px;}
}
@media (max-width: 576px) {
    .srv1 {
        margin-bottom: 25px;
    }
    .ll1,
    .ll2,
    .lr {
        display: none;
    }
    .left-sdv {
        left: 0;
    }
    .inst-equ__block {
        margin-left: 0;
    }
    .inst-equ__img {
        height: 237px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ine-el__text {
        width: calc(100% - 20px);
    }
    .ine-el {
        margin-bottom: 20px;
        height: auto;
    }

    .ine-el__num {
        position: static;
        transform: translate(0, 0);
    }
    .ine-el__text {
        padding: 0 0 0 20px;
    }
    .to {
        margin-bottom: 15px;
    }
    .to-wrap h3{
        margin-left: 0;
    }
    .laboratory {
        margin-bottom: 30px;
    }
    .laboratory .h4{
        margin-bottom: 25px;
    }
    .inst-equ{
        margin-bottom: 0;
    }
    .repair{
        margin-bottom: 30px;
    }
    .repair-block{
        grid-template-columns: 1fr 1fr;
    }
    .bkg-grad  .plus-list{
        margin-right: 0;
    }
    .slide-news.bkg-grad{
        padding: 30px 0 20px;
        margin-bottom: 30px; 
    }
    .dop-4{
        padding: 0 0 30px 0;
    }
}

@media (max-width: 480px) {
    .lab-block {
        grid-template-columns: 1fr;

    }
}


@media (max-width: 383px) {
    .inst-equ__img {
        height: 156px;
    }
    .repair-block{
        grid-template-columns: 1fr;
    }
    .bkg-grad  .plus-list::after{
        background: none;
    }

}
