.sltop {
    margin-bottom: 40px;
    &__img {
        transition: 0.3s all;
        height: 143px;
        display: flex;align-items: center;
        &_w{
           /* border-radius: 40px;*/
            overflow: hidden;  
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        z-index: 10;
        bottom: 8px;
        left: 26px;
        max-width: 155px;
    }
    .elem {
        border-radius: 40px;
        overflow: hidden;
        transition: 0.3s all;
        border:2px solid transparent;
        position: relative;
        cursor: pointer;
        &:hover,
        &.active {
            border:2px solid #fff;
            .sltop__img_w{
               // margin:10px 5px;
                transition: 0.3s all;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                filter: blur(3px);
               // height: 130px;
               //position: absolute;
            }
            img{
              transition: 0.3s all;
            }
        }

    }
}

.slider2{
    margin-bottom: 73px;
    .owl-dots{
        text-align: center;
        margin-top: 25px;
        span{
           width: 8px;
           height: 8px;
           background: #C4C4C4;;
           border-radius: 50%;
           margin-left: 6px;
           display: block;
       } 
    }
    .owl-dot.active span{
        background: #4A6278;;
    }
}
.sl-img{
    border-radius: 40px;
    overflow: hidden;
    a{
        display: block;
        height: 388px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media(max-width:1200px){
    .bkg-heder-sl{
        background: radial-gradient(158.14% 533.02% at -71.74% 81.71%, rgba(95, 182, 179, 0.7) 0%, rgba(115, 177, 82, 0) 100%), #363636;
        max-height: 536px;
        &__el{display: none;}
    }
 
}

@media (max-width: 991px) {
    .sl-img a{display: block; height: 300px;} 
    .bkg-heder-sl{
        max-height: calc(50% - 10px);
        a{min-height: 213px;}
    }
}

@media(max-width:767px){
    .slider2{
        .owl-prev,
        .owl-next{position: absolute;top:42%;z-index: 10;}
        .owl-prev{left: -1rem;}
        .owl-next{right: -1rem;}
    }
    .sl-img{
        a{height: 217px;}
        img{height: 100%;object-fit: cover;}
    }
    .bkg-heder-sl {
        max-height:44%;
    }
}

@media(max-width:567px){
    .sl-img a{height: 184px;}
    .bkg-heder-sl
    {max-height:42%;
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
    }
}
